.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 115, 81, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.modal-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-box {
    background-color: #F6F0D7;
    border: 2px solid #677351;
    padding: 45px;
    border-radius: 20px;
    text-align: center;
    max-width: 520px;
    width: 90%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    transform: translateY(-50px);
    transition: transform 0.3s ease;
}

.modal-overlay.active .modal-box {
    transform: translateY(0);
}

.modal-box h3 {
    font-family: 'Source Sans 3', sans-serif;
    color: #677351;
    margin-top: 0;
    font-size: 30px;
}

.modal-box p {
    color: #9BAE73;
    font-size: 20px;
    margin-bottom: 35px;
}

.modal-buttons {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.btn-modal-annulla, .btn-modal-conferma {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    border: 1px solid #677351;
    border-radius: 25px;
    padding: 14px 30px;
    font-size: 18px;
    cursor: pointer;
    min-width: 120px;
    height: auto;
}
.btn-modal-conferma:hover {
    background-color: #677351;
}

.btn-modal-annulla:hover {
    background-color: #EADFBC;
}